<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>io.halprin.backup</string>
        <key>ProgramArguments</key>
        <array>
            <string>{script}</string>
            <string>backup</string>
            <string>{config_yml}</string>
        </array>
        <key>EnvironmentVariables</key>
        <dict>
            <key>LC_ALL</key>
            <string>en_US.utf-8</string>
            <key>LANG</key>
            <string>en_US.utf-8</string>
        </dict>
        <key>StartInterval</key>
        <integer>120</integer>
    </dict>
</plist>
